h1 {
    font-size: 22pt;
    font-weight: bold;
    text-align: center;
}

h2, h3, h4 {
    font-size: 18pt;
    text-align: left;
    font-weight: normal;
}

h1, h2, h3, h4 {
text-decoration: underline;
}
body {
    color: #404040;
    background-color: white;
    font-size: 11pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image:url("/csc372-assignment2/images/background.png");
    background-repeat: repeat;
    background-size: cover;
}
a {
    color: #A4A400;
}

blockquote {
    background-color: #FFFFA8;
    padding: 10px;
    font-style: italic;
    
}
